* {
  background-color: cadetblue;
}

.pokemon-name {
  font-size: 3rem;
  text-align: center;
  font-family: 'Permanent Marker', cursive;
}

#pokemon-container {
  width: 90%;
  margin: 3rem;
}

.card__name {
  font-size: 2rem;
  text-transform: capitalize;
  text-align: center;
}