
.pokemon-name {
  font-size: 12rem;
  text-align: center;
  font-family: 'Permanent Marker', cursive;
}

#pokemon-container {
  width: 90%;
  margin: 3rem;
  display: grid;
  grid-template-columns: repeat(4, 22.5%);
  grid-template-rows: 18% 18% 18% 18% 18% 5%;
  gap: 5% 5%;
}

.card__name {
  text-transform: capitalize;
  text-align: center;
}

.card__img {
  background-color: cornflowerblue;
}
